.bestSellerNav{
  height: 40px;
  display: flex ;
  align-items: flex-end;
  gap: 20px;
  border-bottom: 0.2px solid rgb(170, 223, 234);
}
.bestSellerNav a{
  text-decoration: none;
  font-weight: 600;
  color: black;
  padding: 0px 10px;

}
.bestSellerNav a:hover{
  border-bottom: 2px solid orange; 
}
.active{
border-bottom: 2px solid orange;
color: orange !important;

}