*{
margin:0px;
padding:0px;
}




.home__container {
  margin-bottom: 50px;
  max-width: 100%;
  width:100%
}

.carousel__image {
  /* width: 100%; */
  transition: transform 1ms ease;
}


@media (max-width: 768px) {
  .card {
    margin-bottom: 30px;
  }
}
.product-container{
  height:60%;
  margin-right: 22px;
margin-bottom: 20px;
}
