*{
    margin: 0px;
    padding: 0px;
   }

.header {
    height: 80px;
    display: flex;
    align-items: center;
    background-color: #131921;
    position: sticky;
    top: 0;
    z-index: 100;
    max-width:100%
  }
  .EN{
    color: white;
    margin-left: 10px;
    margin-top: 10px;
  }
  .header-dropdown{

    height:32px;
    background-color: aliceblue;
  }
  
  .header-logo {
    width: 100px;
    object-fit: contain;
    margin: 0 20px;
    margin-top: 18px;
  }
  
  .header-search {
    display: flex;
    flex: 1;
    align-items: center;
    border-radius: 24px;
    color:white

  }
  .header-location{
    color: white;
    margin-right: 2px;
  }
  
  .header-searchInput {
    height: 30px;
    padding: 10px;
    border: none;
    width: 100%;
  }
  
  .header-searchIcon {
    padding: 5px;
    height: 30px !important;
    width: 30px !important;
    background-color: #cd9042;
    
  }
  
  .header-optionLineOne {
    font-size: 15px;
  }
  
  .header-optionLineTwo {
    font-size: 12px;
    font-weight: 800;
  }

  
  .header-optionBasket {
    display: flex;
    align-items: center;
    color: white;
    margin-top: 7px;
  }

  
  .header-basketCount {
    margin-right: 10px;
    margin-bottom: 14px;
  }
  
  .header-nav {
    display: flex;
    justify-content: space-evenly;
  }
  .href{
    color: white;
    text-decoration: none;

  }
  
  .header-option {
    display: flex;
    flex-direction: column;
    margin-left: 10px;
    margin-right: 10px;
    color: white;
  }

  
  .amazon__footer {
    background-color: #232f3e;
    color: #ffffff;
    padding: 30px 0;
    position:relative
  }
  
  .amazon__footer__container {
    display: flex;
    justify-content: space-around;
    max-width: 1200px;
    margin: 0 auto;
  }
  
  .amazon__footer__section {
    width: 25%;
  }
  
  .amazon__footer__section h4 {
    font-size: 18px;
    margin-bottom: 10px;
  }
  
  .amazon__footer__section ul {
    list-style: none;
    padding: 0;
  }
  
  .amazon__footer__section ul li {
    margin-bottom: 5px;
  }
  
  .amazon__footer__section ul li a {
    color: #ffffff;
    text-decoration: none;
  }
  
  .amazon__footer__section ul li a:hover {
    text-decoration: underline;
  }
  
  .amazon__footer__legal {
    text-align: center;
    margin-top: 20px;
  }
  
  .amazon__footer__legal p {
    font-size: 14px;
  }
  .amazon__footer__language{
    display: flex;
  justify-content: center;

  padding-top: 20px;
  }
  /* .amazon__logo{
   display: flex;
   align-items: center;
   justify-content: center;
  } */
  

  @media (max-width: 768px) {
    .amazon__footer__container {
      flex-wrap: wrap;
    }
    
    .amazon__footer__section {
      width: 50%;
      text-align: center;
      margin-bottom: 20px;
    }
  }
  
