/* ForgotPassword.css */

.forgot-password-container {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  
  .forgot-password-container h2 {
    margin-bottom: 20px;
    text-align: center;
  }
  
  .forgot-password-container form {
    display: flex;
    flex-direction: column;
  }
  
  .forgot-password-container label {
    margin-bottom: 10px;
  }
  
  .forgot-password-container input {
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .forgot-password-container button {
    padding: 10px 20px;
    background-color: #f0c14b;;
    color: #050505;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  /* .forgot-password-container button:hover {
    background-color: #d41b06;
  } */
  
  .error-message {
    color: #ff0000;
    margin-bottom: 10px;
    text-align: center;
  }
  